<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="short-info">
                <p>{{dayWeather.date | date:"ccc" | uppercase}}</p>
                <img [src]="'https://openweathermap.org/img/wn/' + dayWeather.allDayIcon + '@2x.png'">
            </div>
            <p class="degrees">{{dayWeather.allDayTemp}}°</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="hour" *ngFor="let hour of dayWeather.list">
        <p class="hour_time">{{hour.dt_txt | date:'HH:mm'}}</p>
        <span class="hour_dash">-</span>
        <p class="hour_degree">{{hour.main.temp}}°</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
