<p class="label">Search your city:</p>

<form>
    <mat-form-field>
      <input #input
             type="text"
             placeholder="{{currentOption}}"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">

      <mat-autocomplete requireSelection #auto="matAutocomplete">
        <ng-container *ngFor="let option of filteredOptions;">
            <mat-option [value]="option" class="options" (click)="setChoice(option)">
              <p>{{option}}</p>
            </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
</form>
