<div class="forecast">
    <app-search 
        *ngIf="city" 
        [currentOption]="city.name"
        (onOptionChosen)="loadForecast($event)">
    </app-search>

    <div *ngIf="isCityHasForecast; else empty" class="forecast_container">
        <div *ngIf="averageWeekPressure" class="today_detail">
            <p class="today_detail__label">AVERAGE WEEK PRESSURE:</p>
            <p class="today_detail__value">{{averageWeekPressure}} Pa</p>
            <button mat-flat-button color="warn" [routerLink]="['/chart', city.name]">OPEN INFOGRAPHIC</button>
        </div>

        <p *ngIf="city" class="city">{{city.name}}</p>

        <div *ngIf="today" class="today">
            <div class="today_main">
                <img [src]="'https://openweathermap.org/img/wn/' + today.allDayIcon + '@2x.png'" [alt]="today.allDayWeather">
                <div class="today_main_info">
                    <p class="today_main_day">{{today.date | date:'EEEE' | uppercase}}</p>
                    <p class="today_main_degree">{{today.allDayTemp}}°</p>
                </div>
            </div>
    
            <div class="today_details">
                <div class="today_detail">
                    <p class="today_detail__label">FEELS LIKE</p>
                    <p class="today_detail__value">{{today.allDayFeelsLike}}°</p>
                </div>
    
                <div class="today_detail">
                    <p class="today_detail__label">PRESSURE</p>
                    <p class="today_detail__value">{{today.allDayPressure}} Pa</p>
                </div>
            </div>
        </div>
    
        <div class="days">
            <app-day-card *ngFor="let day of weatherList" [dayWeatherFull]="day"></app-day-card>
        </div>
    </div>

    <ng-template #empty>
        <p class="empty">Sorry, we don't have forecast for this city</p>
    </ng-template>
</div>